<div class="wrapper">
  <div class="TasksContainer">
    <div class="TasksListHeader">New</div>
    <div class="Taskslist"
         cdkDropList
         #newList="cdkDropList"
         [cdkDropListData]="new"
         [cdkDropListConnectedTo]="[activeList,closedList]"
         (cdkDropListDropped)="drop($event)">

      <div id="Task-{{newtask.taskID}}" class="card" cdkDrag (cdkDragDropped)="updateTaskState(i,$event,newtask)"
           *ngFor="let newtask of new; let i = index;">
        <div class="card-header"> {{ newtask.taskName }} </div>
        <div class="card-body">
          <div class="project">
            {{ newtask.taskDescription}}
          </div>
          <div class="TaskIconContainer {{ newtask.taskState }}" id="icon-t{{ newtask.taskID }}">
            <i class="fas fa-circle fa-xs"></i>
          </div>
          <div class="StatusIndicator new"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="TasksContainer">
    <div class="TasksListHeader">Active</div>
    <div class="Taskslist"
         cdkDropList
         #activeList="cdkDropList"
         [cdkDropListData]="active"
         [cdkDropListConnectedTo]="[newList,closedList]"
         (cdkDropListDropped)="drop($event)">

      <div id="Task-{{activetask.taskID}}" class="card" cdkDrag (cdkDragDropped)="updateTaskState(j,$event,activetask)"
           *ngFor="let activetask of active;let j = index">
        <div class="card-header"> {{ activetask.taskName }} </div>
        <div class="card-body">
          <div class="project">
            {{ activetask.taskDescription}}
          </div>
          <div class="TaskIconContainer {{ activetask.taskState }} " id="icon-t{{ activetask.taskID }}">
            <i class="fas fa-circle fa-xs"></i>
          </div>
        </div>
        <div class="StatusIndicator active"></div>
      </div>
    </div>
  </div>

  <div class="TasksContainer">
    <div class="TasksListHeader">Closed</div>
    <div class="Taskslist"
         cdkDropList
         #closedList="cdkDropList"
         [cdkDropListData]="closed"
         [cdkDropListConnectedTo]="[newList,activeList]"
         (cdkDropListDropped)="drop($event)">

      <div id="Task-{{closedtask.taskID}}" class="card" cdkDrag (cdkDragDropped)="updateTaskState(k,$event,closedtask)"
           *ngFor="let closedtask of closed;let k = index">
        <div class="card-header"> {{ closedtask.taskName }} </div>
        <div class="card-body">
          <div class="project">
            {{ closedtask.taskDescription}}
          </div>
          <div class="TaskIconContainer {{ closedtask.taskState }} " id="icon-t{{ closedtask.taskID }}">
            <i class="fas fa-circle fa-xs"></i>
          </div>
        </div>
          <div class="StatusIndicator closed"></div>
      </div>
    </div>
  </div>

</div>
