<div class="panel panel-widget">
  <div class="row no-padding">
    <div
      class="col-sm-3 col-lg-5 widget-left statsCard"
      [style.background]="myData.color"
    >
      <i [class]="myData.icon"></i>
    </div>
    <div
      class="col-sm-9 col-lg-7 widget-right "
      style="background-color: white;"
    >
      <ng2-odometer
        class="large"
        [number]="myData.data"
        [config]="{}"
      ></ng2-odometer>
      <div class="text-muted">{{ myData.label }}</div>
    </div>
  </div>
</div>
