.container_ {
  border: solid #1d1a17 1px;
  background: #eeeeee;
  padding: 5px 10px 0 5px;
  margin: 0 20px 15px 10px;
}

.horizontal_list {
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.horizontal_element {
  /*float: left;*/
  display: inline-block;
  width: auto;
}

p{
  font-weight: bold;
  font-size: 42px;
  margin: 10px;
}
