<div style="background-color: #f7f5f5; padding: 20px;">
  <app-header-statics></app-header-statics>
  <div class="row" style="margin: 20px; height: max-content;">
    <div
      class="col-lg-7 col-md-7 "
      style="background-color: white;border-radius: 10px;"
    >
      <div class="panel panel-default">
        <div class="panel-heading">Tasks Completed Graph</div>
        <div class="panel-body">
          <div class="canvas-wrapper">
            <canvas
              baseChart
              [colors]="lineChartColors"
              [options]="ChartOptions"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 ">
      <div
        class="panel panel-default"
        style="background-color: white; height: 100%; border-radius: 10px; "
      >
        <div class="panel-heading">
          Completed Tasks per Team
        </div>
        <div class="panel-body" style="margin-top: 15%;">
          <canvas
            baseChart
            width="100"
            height="50"
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="font-size: 36px; margin: 15px;">
    Teams:
  </div>
  <div
    class="container-fluid row  flex-nowrap"
    style="overflow: auto;background-color:white;  padding: 15px;
    border-radius: 10px;
    margin: 10px;
    width: 90%;"
  >
    <app-team-card *ngFor="let team of teams" [team]="team"></app-team-card>
  </div>
</div>
