
<form (ngSubmit)="onSubmit()" #registrationForm="ngForm" (ngSubmit)="registrationForm.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate   class="text-center border border-light p-5">
  <p class="h4 mb-4">Sign up</p>
  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input type="text" name="firstName" class="form-control" [(ngModel)]="firstName" placeholder="First name" required>
    </div>
    <div class="col">
      <!-- Last name -->
      <input type="text" name="lastName" class="form-control" [(ngModel)]="lastName"placeholder="Last name" required>
    </div>
  </div>

  <!-- E-mail -->
  <input type="email" name="email" class="form-control mb-4" [(ngModel)]="email"placeholder="E-mail" required>

  <!-- Password -->
  <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password"  required>
  <small name="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    At least 8 characters
  </small>
  <input type="password" name="password" class="form-control mb-4" [(ngModel)]="password" placeholder="Confirm Password"  required>

  <!-- Phone number -->
  <input type="text" name="phoneNumber" class="form-control mb-4" [(ngModel)]="phoneNumber"placeholder="Phone number" required>
  <input type="date" name="birthday" class="form-control mb-4"[(ngModel)]="birthday" required>
  <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" class="form-control mb-4">


  <hr>
  <button type="submit" class="btn btn-success">Submit</button>

</form>
<!-- Default form register -->
