.container_ {
  background: #ffffff;
  margin: 3px;
  height: 55px;
  border: solid rgba(249, 249, 249, 0.83) 1px;
  border-radius: 2px;
  padding: 2px;
  white-space: nowrap;
  width: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  /*min-width: 300px;*/
}

.img {
  height: 50px;
  float: left;
}

.name {
  position: absolute;
  color: black;
  height: 50px;
  left: 60px;
  line-height: 50px;
  /*min-width: 100px;*/
  width: auto;
  margin-left: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}
