.container {
  height: 100px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  border-style: groove;
  margin-bottom: 10px;
  margin-top: 10px;
}

.message {
  font-size: 14px;
  padding-bottom: 10px;
  margin-left: 5px;
}
img {
  border-radius: 50%;
  height: 50px;
  margin: 5px;
}
.group {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #5aff88;
  border-radius: 20px;
  font-size: 15px;
  color: white;
  display: inline-block;
}
