<div class="container container-fluid">
  <div class="row " style="margin-top: 10px">
    <div class=""><img
      src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.0-1/p160x160/66476170_2317766318290427_5632667283047317504_o.jpg?_nc_cat=107&_nc_oc=AQlwrIjzY4kYOe0OsJUkUcwPyugEud0EPuHo9sRGqXDi6RJH_AQ2U7_uOGU7lkY2NJ4&_nc_ht=scontent.ftun4-1.fna&oh=77d3a3a846d422281bdc4601e5fc850b&oe=5EB1838F">
    </div>

    <div align="right" class=" "> <div class="name" align="center" > Foulen Ben foulen</div>
    </div>
  </div>
  <div class="message" align="left">Hi my friend</div>

</div>
