<div class="container_">
  <div style="width: 100%; background: black"></div>
  <div class="left_container">
    <div class="active-cyan-4 mb-4">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div style="overflow-y: scroll; height: calc(100% - 10px); margin-bottom: 10px">
      <div *ngFor="let a of collaborators">
        <app-collaborator-ticket [data]="a"></app-collaborator-ticket>
      </div>
    </div>
  </div>
  <div class="right_container">
    <div *ngFor="let a of teams">
      <app-team-ticket [team]="a"></app-team-ticket>
    </div>
  </div>
</div>
