<!--
<app-top-bar [projectName]="currentProject.name"></app-top-bar>
<div class="container_ left">
  <app-navbar></app-navbar>
</div>
<div class="container_ right">
  <router-outlet></router-outlet>

&lt;!&ndash;  <app-tasks [sprints]="currentProject.sprints" style="width: 100%; height: 100%"></app-tasks>&ndash;&gt;
</div>
-->

<!--<div >
  <app-project-teams></app-project-teams>
</div>-->

<div
  style="height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; background-image: url('../../assets/img/bg_home.jpg') ">
  <div *ngIf="bIsUserLoggedIn; else homeComp">
    <div class="homeContainer">
      <h4 style="font-family: Raleway,serif; font-weight: bold; font-size: 7.6vh;"> Welcome back ! <br> {{username}}
      </h4>
      <br>
      <div
        style="border-radius: 10px;border-width: 2px; border-color: #55555555; height: auto; width: 380px; border-style: solid;padding: 5px ">
        <app-projects-component></app-projects-component>
      </div>
    </div>
  </div>
  <ng-template #homeComp>
    <app-login-component (authentication)="this.bIsUserLoggedIn = $event"></app-login-component>
  </ng-template>
</div>
